@{
    ViewBag.Title = "Problem z rezerwacją";
}

<h2>Wystąpił problem z rezerwacją. Byćmoże ktoś już zarezerwował to miejsce. Spróbuj zarezerwować inne miejsce</h2>
<p>
    @Html.ActionLink("wróć do listy seansów", "Index")
</p>