@{
    ViewBag.Title = "Kino Helios - moduł zarządzania - strona główna";
}

<h2>Witaj w module zarządzania kinem !</h2>
<p>
    Wybierz odpowiednią kategorię z menu u góry, aby zarządzać odpowiednią częścią systemu.
</p>
